<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Farming Assistant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.php">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.php">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="fertilizer.php">Fertilizer Distribution</a></li>
            <li><a class="dropdown-item" href="Seeds.php">Seed Distribution</a></li>
            <li><a class="dropdown-item" href="Programs.php">Programs</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Instant Chat With Bot</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit"><a href="panel.php">Login/SignUp</a></button>
      </form>
    </div>
  </div>
</nav>