<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Services </title>
   
    <link rel="stylesheet" href="static/style1.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  </head>
<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" >Farming Assistant</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href='{{url_for("index")}}'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href='{{url_for("about")}}'>About</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href='{{url_for("fertilizer")}}'>Fertilizer Distribution</a></li>
              <li><a class="dropdown-item" href='{{url_for("seeds")}}'>Seed Distribution</a></li>
              <li><a class="dropdown-item" href='{{url_for("programs")}}'>Programs</a></li>
            </ul>
          </li>
  
        
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-success" type="submit"><a href='{{url_for("panel")}}' style="color:white; text-decoration: none;">Login/SignUp</a></button>
        </form>
      </div>
    </div>
  </nav>
    
    
    <div>
      <img src="static/images/seeds.jpg" class="w-100" alt="image"><br><br>
    </div>
    <div class="container">
      <div class="row">

        <div > 
            <h5>The Scenario</h5>
           <p style="text-align:justify;"> Seed distribution is an important aspect of agricultural development in Nepal, as it plays a critical role in ensuring food security and improving the livelihoods of farmers. The government of Nepal, through the Ministry of Agriculture and Livestock Development (MOALD), is responsible for the distribution of seeds to farmers across the country.Fair distribution of seed is essential to ensure that farmers have access to high-quality seeds that are appropriate for their local agro-ecological conditions.But due to the unmanaged political conditions fair distribution of the fertilizer is one of the challanging task. FAWS establsihed to make a unbiased enviroment towards  the system. </p>
            
            <h5>Solution</h5>
            <p style="text-align:justify;">
            GeoKrishi provides an intelligent digital agriculture platform built to solve challenges faced by commercial and smallholder farmers. GeoKrishi applies a data-driven system approach to translate knowledge into actionable, timely and context-specific advisories, covering all stages of the crop value chain. </p>
            
      
            
            <h5>Mission</h5>
            <p style="text-align:justify;">
            To accelerate sustainable agriculture development via empowering farmers and local seller,
            create green jobs, and build a network of the next-generation Agri-prenuers.
            
           <h5> Objectives</h5>
           <p style="text-align:justify;">
            <b> 1)</b> Establish agricultural data infrastructure incorporating several data, products and tools useful for overall agricultural stages.<br>
            <b> 2)</b> Remove technical and cultural barrier in the most simple and cost-effective way such that anyone can monitor real-time information from the farm.<br>
             <b>3)</b>Empower extension worker to provide better recommendation to the farmer through our district level agriculture advisory services center.<br>
           </p>
   
         </div>
        </div>
      </div> 
    
  <br>

  <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image__header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content__header">
                    <h4 class="chatbox__heading__header">Chat support</h4>
                    <p class="chatbox__description__header">Hi. My name is Kisan. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send__footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="static/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }}; //originally curly braces instead of small
    </script>
    <script type="text/javascript" src="static/app.js"></script>


  <footer>
    <p class="p-3 bg-dark text-white text-center">@2023.Farming Assistant Web Service </p>
</footer>

<script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>